* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

h1 {
    text-align: center;
    background-color: pink;
    padding: 26px;
    width: 100%;

}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 118px;
    column-gap: 27px;
    justify-content: center;
    row-gap: 53px;
}


.container>div {
    background-color: burlywood;
    border: 2px black solid;
}

button {
    padding: 20px;
    display: block;
    margin: 20px auto;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid black;
}


.ramme {
    border: 2px solid black;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 543px;
    width: 720px;
}

.info {
    background-color: #BEE3DB;
    text-align: center;
    margin: 20px;
    padding: 14px;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}