* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width:100%; 
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    background-color: pink;
    padding: 16px;

}

.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 100px;
    gap: 30px;
    justify-content: center;
}

.container > div{
    background-color: burlywood;
    border: 2px black solid;
}

button{
    padding: 20px;
    display: block; 
    margin: 20px auto; 
    background-color: lightblue; 
    border: none;
    border-radius: 5px;
    font-size: 16px;

}

.ramme{
    border: 2px solid black;
    border-radius:21px ;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 470px; 
    width: 700px; 
    margin: 0 auto;
}